<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdvancedShortcuts</key>
	<dict>
		<key>Contents</key>
		<array/>
	</dict>
	<key>Editable</key>
	<true/>
	<key>GodModeShortcuts</key>
	<dict>
		<key>BlackRecovery</key>
		<string>f</string>
		<key>Brightness</key>
		<string>e</string>
		<key>Clarity</key>
		<string>z</string>
		<key>Contrast</key>
		<string>w</string>
		<key>Exposure</key>
		<string>q</string>
		<key>HighlightRecovery</key>
		<string>a</string>
		<key>LevelsHighlight</key>
		<string>v</string>
		<key>LevelsMidtone</key>
		<string>c</string>
		<key>LevelsShadow</key>
		<string>x</string>
		<key>Saturation</key>
		<string>r</string>
		<key>ShadowRecovery</key>
		<string>s</string>
		<key>Temperature</key>
		<string>1</string>
		<key>Tint</key>
		<string>2</string>
		<key>WhiteRecovery</key>
		<string>d</string>
	</dict>
	<key>KeyboardShortcuts</key>
	<dict>
		<key>ApplyNormalization</key>
		<string>n</string>
		<key>CopyAdjustments</key>
		<string>a</string>
		<key>Crop</key>
		<string>c</string>
		<key>DrawAnnotations</key>
		<string>i</string>
		<key>DrawCloningMask</key>
		<string>~t</string>
		<key>DrawHealingMask</key>
		<string>~i</string>
		<key>DrawMagicMask</key>
		<string>~y</string>
		<key>DrawMask</key>
		<string>b</string>
		<key>EraseAnnotations</key>
		<string>y</string>
		<key>EraseMask</key>
		<string>e</string>
		<key>GradientMask</key>
		<string>g</string>
		<key>KeyStone</key>
		<string>k</string>
		<key>KeyStoneHorizontal</key>
		<string>k</string>
		<key>KeyStoneVertical</key>
		<string>k</string>
		<key>LivePreviewFocusPoint</key>
		<string>~.</string>
		<key>Loupe</key>
		<string>p</string>
		<key>MoveTo</key>
		<string>v</string>
		<key>Overlay</key>
		<string>h</string>
		<key>Pan</key>
		<string>h</string>
		<key>PickFocusPoint</key>
		<string>f</string>
		<key>PickHighlightLevel</key>
		<string>l</string>
		<key>PickLumaCurvePoint</key>
		<string>u</string>
		<key>PickNormalizeToolTarget</key>
		<string>n</string>
		<key>PickRGBCurvePoint</key>
		<string>u</string>
		<key>PickShadowLevel</key>
		<string>l</string>
		<key>PickSkinColorCorrection</key>
		<string>x</string>
		<key>PickWhiteBalance</key>
		<string>~m</string>
		<key>RadialMask</key>
		<string>~u</string>
		<key>RemoveSpot</key>
		<string>o</string>
		<key>RotateFreeHand</key>
		<string>r</string>
		<key>RotateLeft</key>
		<string>r</string>
		<key>RotateRight</key>
		<string>r</string>
		<key>Select</key>
		<string>v</string>
		<key>Straighten</key>
		<string>~o</string>
		<key>Trash</key>
		<string>v</string>
		<key>Watermark</key>
		<string>h</string>
		<key>ZoomIn</key>
		<string>z</string>
		<key>ZoomOut</key>
		<string>z</string>
		<key>addCloneLayer:</key>
		<string>^c</string>
		<key>addFilledLocalAdjustmentsLayer:</key>
		<string>^f</string>
		<key>addHealLayer:</key>
		<string>^$h</string>
		<key>addLocalAdjustmentsLayer:</key>
		<string>^$l</string>
		<key>analyzeLCC:</key>
		<string>~$@l</string>
		<key>applyAdjustments:</key>
		<string>$@v</string>
		<key>applyAutoAdjustRotation:</key>
		<string>~r</string>
		<key>applyLCC:</key>
		<string>~$@a</string>
		<key>applySmartAdjustmentsThroughShortcut:</key>
		<string>~a</string>
		<key>autoAdjust:</key>
		<string>^l</string>
		<key>biggerBrush:</key>
		<string>+</string>
		<key>capture:</key>
		<string>@k</string>
		<key>checkForSoftwareUpdate:</key>
		<string>$@u</string>
		<key>checkSpelling:</key>
		<string>@;</string>
		<key>clearCompareVariant:</key>
		<string>@
</string>
		<key>clearLayerMask:</key>
		<string>~$@z</string>
		<key>cloneVariant:</key>
		<string>^$v</string>
		<key>copy:</key>
		<string>@c</string>
		<key>copyAdjustments:</key>
		<string>$@c</string>
		<key>copyAndApplyAdjustments:</key>
		<string>~$@c</string>
		<key>createNewCatalog:</key>
		<string>$@n</string>
		<key>createNewSession:</key>
		<string>@n</string>
		<key>cut:</key>
		<string>@x</string>
		<key>decreaseBrightness:</key>
		<string>~$w</string>
		<key>decreaseBrushFlow:</key>
		<string>~v</string>
		<key>decreaseBrushOpacity:</key>
		<string>~z</string>
		<key>decreaseClarity:</key>
		<string>~$l</string>
		<key>decreaseClarityStructure:</key>
		<string>^~$m</string>
		<key>decreaseColorBalanceHighlightHue:</key>
		<string>~$@r</string>
		<key>decreaseColorBalanceHighlightLightness:</key>
		<string>~$@u</string>
		<key>decreaseColorBalanceHighlightSaturation:</key>
		<string>~$@t</string>
		<key>decreaseColorBalanceHue:</key>
		<string>^$@s</string>
		<key>decreaseColorBalanceMidtoneHue:</key>
		<string>~$@8</string>
		<key>decreaseColorBalanceMidtoneLightness:</key>
		<string>~$@p</string>
		<key>decreaseColorBalanceSaturation:</key>
		<string>^@h</string>
		<key>decreaseContrast:</key>
		<string>~$r</string>
		<key>decreaseDehazeAmount:</key>
		<string>~$x</string>
		<key>decreaseExposure:</key>
		<string>~-</string>
		<key>decreaseHDRBlack:</key>
		<string>~$@k</string>
		<key>decreaseHDRHighlight:</key>
		<string>~$h</string>
		<key>decreaseHDRShadow:</key>
		<string>~$s</string>
		<key>decreaseHDRWhite:</key>
		<string>~@w</string>
		<key>decreaseKeystoneAmount:</key>
		<string>^~k</string>
		<key>decreaseKeystoneAspect:</key>
		<string>^~a</string>
		<key>decreaseKeystoneHorizontal:</key>
		<string>^~h</string>
		<key>decreaseKeystoneVertical:</key>
		<string>^~v</string>
		<key>decreaseLayerOpacity:</key>
		<string>~$b</string>
		<key>decreaseLevelsRGBHighlight:</key>
		<string>$q</string>
		<key>decreaseLevelsRGBMidtone:</key>
		<string>$t</string>
		<key>decreaseLevelsRGBShadow:</key>
		<string>$@k</string>
		<key>decreaseLevelsTargetHighlight:</key>
		<string>$s</string>
		<key>decreaseLevelsTargetShadow:</key>
		<string>$d</string>
		<key>decreaseNRColor:</key>
		<string>~c</string>
		<key>decreaseNRLuminance:</key>
		<string>~n</string>
		<key>decreaseRotation:</key>
		<string>~$p</string>
		<key>decreaseSaturation:</key>
		<string>~@-</string>
		<key>decreaseUSMAmount:</key>
		<string>~$j</string>
		<key>decreaseVignettingAmount:</key>
		<string>~$g</string>
		<key>decreaseWBKelvin:</key>
		<string>$-</string>
		<key>decreaseWBTint:</key>
		<string>~$-</string>
		<key>decrementCaptureCounter:</key>
		<string>~@k</string>
		<key>deletePermanently:</key>
		<string>~</string>
		<key>deleteSelectedLayer:</key>
		<string>^d</string>
		<key>deselectAll:</key>
		<string>$@a</string>
		<key>exportSelectedOriginals:</key>
		<string>~e</string>
		<key>featherLocalAdjustmentMask:</key>
		<string>~$@f</string>
		<key>fillLocalAdjustmentMask:</key>
		<string>~$@b</string>
		<key>hide:</key>
		<string>@h</string>
		<key>hideOtherApplications:</key>
		<string>~@h</string>
		<key>import:</key>
		<string>$@i</string>
		<key>increaseBrightness:</key>
		<string>$@w</string>
		<key>increaseBrushFlow:</key>
		<string>~x</string>
		<key>increaseBrushOpacity:</key>
		<string>~l</string>
		<key>increaseClarity:</key>
		<string>$@l</string>
		<key>increaseClarityStructure:</key>
		<string>^~m</string>
		<key>increaseColorBalanceHighlightHue:</key>
		<string>~$@e</string>
		<key>increaseColorBalanceHighlightLightness:</key>
		<string>~$@i</string>
		<key>increaseColorBalanceHighlightSaturation:</key>
		<string>~$@y</string>
		<key>increaseColorBalanceHue:</key>
		<string>^@o</string>
		<key>increaseColorBalanceMidtoneHue:</key>
		<string>~$@7</string>
		<key>increaseColorBalanceMidtoneLightness:</key>
		<string>~$@w</string>
		<key>increaseColorBalanceMidtoneSaturation:</key>
		<string>~$@9</string>
		<key>increaseColorBalanceSaturation:</key>
		<string>^@g</string>
		<key>increaseContrast:</key>
		<string>$@r</string>
		<key>increaseDehazeAmount:</key>
		<string>$@x</string>
		<key>increaseExposure:</key>
		<string>~+</string>
		<key>increaseHDRBlack:</key>
		<string>~d</string>
		<key>increaseHDRHighlight:</key>
		<string>$@h</string>
		<key>increaseHDRShadow:</key>
		<string>$@s</string>
		<key>increaseHDRWhite:</key>
		<string>~w</string>
		<key>increaseKeystoneAmount:</key>
		<string>^k</string>
		<key>increaseKeystoneAspect:</key>
		<string>^a</string>
		<key>increaseKeystoneHorizontal:</key>
		<string>^h</string>
		<key>increaseKeystoneVertical:</key>
		<string>^v</string>
		<key>increaseLayerOpacity:</key>
		<string>~$v</string>
		<key>increaseLevelsRGBHighlight:</key>
		<string>q</string>
		<key>increaseLevelsRGBMidtone:</key>
		<string>t</string>
		<key>increaseLevelsRGBShadow:</key>
		<string>$@d</string>
		<key>increaseLevelsTargetHighlight:</key>
		<string>s</string>
		<key>increaseLevelsTargetShadow:</key>
		<string>d</string>
		<key>increaseNRColor:</key>
		<string>~$c</string>
		<key>increaseNRLuminance:</key>
		<string>~$n</string>
		<key>increaseRotation:</key>
		<string>$@p</string>
		<key>increaseSaturation:</key>
		<string>~@+</string>
		<key>increaseUSMAmount:</key>
		<string>~$f</string>
		<key>increaseVignettingAmount:</key>
		<string>$@g</string>
		<key>increaseWBKelvin:</key>
		<string>$+</string>
		<key>increaseWBTint:</key>
		<string>~$+</string>
		<key>invertLocalAdjustmentMask:</key>
		<string>~$@x</string>
		<key>invertSelection:</key>
		<string>@i</string>
		<key>lessHardness:</key>
		<string>~k</string>
		<key>moreHardness:</key>
		<string>~j</string>
		<key>moveToFolder:</key>
		<string>@j</string>
		<key>newVariant:</key>
		<string>^n</string>
		<key>openDocument:</key>
		<string>@o</string>
		<key>openExportDialog:</key>
		<string>~$e</string>
		<key>openFilterDialog:</key>
		<string>$@f</string>
		<key>openKeyboardShortcutEditor:</key>
		<string>~$@.</string>
		<key>openLuminosityRangeDialog:</key>
		<string>~$@h</string>
		<key>paste:</key>
		<string>@v</string>
		<key>performClose:</key>
		<string>@w</string>
		<key>performMiniaturize:</key>
		<string>@m</string>
		<key>performZoom:</key>
		<string>^@z</string>
		<key>printImages:</key>
		<string>@p</string>
		<key>process:</key>
		<string>@d</string>
		<key>rasterizeLocalAdjustmentMask:</key>
		<string>~$@n</string>
		<key>rate0:</key>
		<string>0</string>
		<key>rate1:</key>
		<string>1</string>
		<key>rate2:</key>
		<string>2</string>
		<key>rate3:</key>
		<string>3</string>
		<key>rate4:</key>
		<string>4</string>
		<key>rate5:</key>
		<string>5</string>
		<key>redo:</key>
		<string>$@z</string>
		<key>refineLocalAdjustmentMask:</key>
		<string>~$@g</string>
		<key>renameImage:</key>
		<string></string>
		<key>resetAdjustments:</key>
		<string>^r</string>
		<key>rotateLeft:</key>
		<string>~@l</string>
		<key>rotateRight:</key>
		<string>~@r</string>
		<key>rotateSnap:</key>
		<string>~@x</string>
		<key>saveLayerAdjustmentsAsStyle:</key>
		<string>~$@j</string>
		<key>saveLayerAdjustmentsAsStyleBrush:</key>
		<string>~$@v</string>
		<key>selectAll:</key>
		<string>@a</string>
		<key>selectBackgroundLayer:</key>
		<string>^b</string>
		<key>selectByColorTag0:</key>
		<string>~$6</string>
		<key>selectByColorTag1:</key>
		<string>~$7</string>
		<key>selectByColorTag2:</key>
		<string>~$8</string>
		<key>selectByColorTag3:</key>
		<string>~$9</string>
		<key>selectByColorTag4:</key>
		<string>~$@0</string>
		<key>selectByColorTag5:</key>
		<string>~$@o</string>
		<key>selectByColorTag6:</key>
		<string>~$@s</string>
		<key>selectByColorTag7:</key>
		<string>~$@d</string>
		<key>selectByRating0:</key>
		<string>^~0</string>
		<key>selectByRating1:</key>
		<string>^~1</string>
		<key>selectByRating2:</key>
		<string>^~2</string>
		<key>selectByRating3:</key>
		<string>^~3</string>
		<key>selectByRating4:</key>
		<string>^~4</string>
		<key>selectByRating5:</key>
		<string>^~5</string>
		<key>selectBySameColorTag:</key>
		<string>@0</string>
		<key>selectBySameRating:</key>
		<string>~0</string>
		<key>selectFirst:</key>
		<string>^1</string>
		<key>selectFirstChildCollection:</key>
		<string>^$d</string>
		<key>selectLast:</key>
		<string>^4</string>
		<key>selectNext:</key>
		<string>^2</string>
		<key>selectNextCollection:</key>
		<string>^$s</string>
		<key>selectNextInspector:</key>
		<string>~@</string>
		<key>selectNextLocalAdjustmentLayerDown:</key>
		<string>^$u</string>
		<key>selectNextLocalAdjustmentLayerUp:</key>
		<string>^u</string>
		<key>selectNextPage:</key>
		<string>~</string>
		<key>selectParentCollection:</key>
		<string>^$a</string>
		<key>selectPrevious:</key>
		<string>^3</string>
		<key>selectPreviousCollection:</key>
		<string>^$w</string>
		<key>selectPreviousInspector:</key>
		<string>~@</string>
		<key>selectPreviousPage:</key>
		<string>~</string>
		<key>selectPrimaryVariantOnly:</key>
		<string>~@i</string>
		<key>selectTab1:</key>
		<string>@1</string>
		<key>selectTab2:</key>
		<string>@2</string>
		<key>selectTab3:</key>
		<string>@3</string>
		<key>selectTab4:</key>
		<string>@4</string>
		<key>selectTab5:</key>
		<string>@5</string>
		<key>selectTab6:</key>
		<string>@6</string>
		<key>selectTab7:</key>
		<string>@7</string>
		<key>selectTab8:</key>
		<string>@8</string>
		<key>selectTab9:</key>
		<string>@9</string>
		<key>setAsCompareVariant:</key>
		<string>$
</string>
		<key>setColorTag0:</key>
		<string>$0</string>
		<key>setColorTag1:</key>
		<string>$1</string>
		<key>setColorTag2:</key>
		<string>$6</string>
		<key>setColorTag3:</key>
		<string>$2</string>
		<key>setColorTag4:</key>
		<string>$3</string>
		<key>setColorTag5:</key>
		<string>$4</string>
		<key>setColorTag6:</key>
		<string>$7</string>
		<key>setColorTag7:</key>
		<string>$5</string>
		<key>showGuessPanel:</key>
		<string>@:</string>
		<key>showHelpGeneral:</key>
		<string></string>
		<key>showPreferencesWindow:</key>
		<string>@,</string>
		<key>showViewerWindow:</key>
		<string></string>
		<key>smallerBrush:</key>
		<string>-</string>
		<key>terminate:</key>
		<string>@q</string>
		<key>toggleAlwaysShowAnnotations:</key>
		<string>j</string>
		<key>toggleBeforeAfterEnabled:</key>
		<string>^$b</string>
		<key>toggleBrowserDisplayStateAuto:</key>
		<string>~@b</string>
		<key>toggleBrowserDisplayStateShown:</key>
		<string>@b</string>
		<key>toggleBrowserPosition:</key>
		<string>$@b</string>
		<key>toggleCameraAF:</key>
		<string>^~s</string>
		<key>toggleCameraFineAF:</key>
		<string>^~$s</string>
		<key>toggleEditPrimary:</key>
		<string>$@e</string>
		<key>toggleExposureWarningsEnabled:</key>
		<string>@e</string>
		<key>toggleFacePanelShown:</key>
		<string>$f</string>
		<key>toggleFilter_ColorTag0:</key>
		<string>^$0</string>
		<key>toggleFilter_ColorTag1:</key>
		<string>~@1</string>
		<key>toggleFilter_ColorTag2:</key>
		<string>~@6</string>
		<key>toggleFilter_ColorTag3:</key>
		<string>~@2</string>
		<key>toggleFilter_ColorTag4:</key>
		<string>~@3</string>
		<key>toggleFilter_ColorTag5:</key>
		<string>~@4</string>
		<key>toggleFilter_ColorTag6:</key>
		<string>~@7</string>
		<key>toggleFilter_ColorTag7:</key>
		<string>~@5</string>
		<key>toggleFilter_Rating0:</key>
		<string>~$0</string>
		<key>toggleFilter_Rating1:</key>
		<string>~$1</string>
		<key>toggleFilter_Rating2:</key>
		<string>~$2</string>
		<key>toggleFilter_Rating3:</key>
		<string>~$3</string>
		<key>toggleFilter_Rating4:</key>
		<string>~$4</string>
		<key>toggleFilter_Rating5:</key>
		<string>~$5</string>
		<key>toggleFullScreen:</key>
		<string>~f</string>
		<key>toggleHelpOverlay:</key>
		<string>@</string>
		<key>toggleOverlayEnabled:</key>
		<string>$@o</string>
		<key>toggleSelectedLocalAdjustmentLayerOnOff:</key>
		<string>^o</string>
		<key>toggleShowGrid:</key>
		<string>@g</string>
		<key>toggleShowGuides:</key>
		<string>~@g</string>
		<key>toggleSlideShow:</key>
		<string>@&lt;</string>
		<key>toggleToolbarShown:</key>
		<string>~b</string>
		<key>toggleToolsDisplayStateAuto:</key>
		<string>~@t</string>
		<key>toggleToolsDisplayStateShown:</key>
		<string>@t</string>
		<key>toggleToolsPosition:</key>
		<string>$@t</string>
		<key>toggleViewerShown:</key>
		<string>~@v</string>
		<key>trash:</key>
		<string>@</string>
		<key>undo:</key>
		<string>@z</string>
		<key>zoomViewer100:</key>
		<string>~@0</string>
		<key>zoomViewerIn:</key>
		<string>@+</string>
		<key>zoomViewerOut:</key>
		<string>@-</string>
	</dict>
	<key>VersionNumber</key>
	<string>16.3.8</string>
</dict>
</plist>
